<a href="https://colab.research.google.com/github/renu7gupta/renu_python/blob/main/day1_ml_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
# Day3
# Creating a simple list

l= [10,20.3,"INT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'INT', (3+4j)]
<class 'list'>

In [ ]:
print("Renu Gupta")

Renu Gupta

In [ ]:
prn("renu")

NameError: name 'prn' is not defined

In [ ]:
#list
L1 = [10,20,3.14,"NNTT DATA", 2+3j,[100,200,300]]
print(L1)
print(type(L1))
print(L1[0], L1[-2])

[10, 20, 3.14, 'NNTT DATA', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [ ]:
# Type fn returns datatype class
a = 3+4j;
print(type(a))

<class 'complex'>

In [ ]:
# isinstance
a = 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
#slicing in list
L1 = [10,20,3.14,"NNTT DATA", 2+3j,[100,200,300]]
print(L1[0:5:3])
print(L1[::])
print(L1[::-1])

[10, 'NNTT DATA']
[10, 20, 3.14, 'NNTT DATA', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NNTT DATA', 3.14, 20, 10]

In [ ]:
#concatenation of list
l1 = [10,20,30]
l2 = [50,60,70]
l3 = l1+l2
print(id(l1))
print(id(l2))
print(id(l3))
print(l3)

134944583688512
134944583941504
134944583931392
[10, 20, 30, 50, 60, 70]

In [ ]:
#multiplication of list
l1 = [10,20,30]
l3 = l1*2
print(l3)

[10, 20, 30, 10, 20, 30]

In [ ]:
# iteration through list
l1 = [10,20,30,40,50]
for i in l1:
  print (i+4)

14
24
34
44
54

In [ ]:
#Mmbership operator in list
print(10 in [10,20,30,40])
print(50 in [10,20,30,40])
print(50 not in [10,20,30,40])

True
False
True

In [ ]:
#deletion of list
l1 = [10,20,30]
print (l1)
del(l1)
print(l1)

[10, 20, 30]

NameError: name 'l1' is not defined

In [ ]:
#Inbuilt functions
#max function
l1 = [220,4573,100,20,30]
print (max(l1))
l2 = ["aaa","bbbbbbb","zzz"]
print (max(l2))
l3 = [10,20,'NTT DAT']
print (max(l3))

4573
zzz

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#Inbuilt functions
#max function

l2 = ["aaaaaaaaaa","bbbbbbb","zzz"]
print(max(l2, key= len))

aaaaaaaaaa

In [ ]:
#Inbuilt functions
#max function

l2 = ["aaaaaaaaaa","bbbbbbb","zzz"]
print(max(l2, key= len))
l5 = []
print(max(l5,default=0))

aaaaaaaaaa
0

In [ ]:
#append of list
l1 = [10,20,30]
l2 = [2,3,4]
print (l1)
l1.append(50)
l1.append(60)
l1.append(70)
l1.append(l2)
print (l1)

[10, 20, 30]
[10, 20, 30, 50, 60, 70, [2, 3, 4]]

In [ ]:
l1=[10]
i=1
for i in range(6):
  l=int(input("enter"))
  l1.append(l)


print(l1)

enter1
enter2
enter3
enter4
enter2
enter1
[10, 1, 2, 3, 4, 2, 1]

In [ ]:
#append method
l1 = [10,20,30]
l2= [40,50,60]
l1.append(l2)
print(l1)

[10, 20, 30, [40, 50, 60]]

In [ ]:
#extend method
l1 = [10,20,30]
l2= [40,50,60]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 50, 60]

In [ ]:
#insert method
l1 = [10,20,30]
l2= [40,50,60]
l1.insert(1,50)
print(l1)

[10, 50, 20, 30]

In [ ]:
#remove method
l1 = [10,20,30,40,30,50]
l1.remove(30)
print(l1)

[10, 20, 40, 30, 50]

In [ ]:
#pop method
l1 = [10,20,30,40,30,50]
num = l1.pop()
print(l1)
print(num)

[10, 20, 30, 40, 30]
50

In [ ]:
#pop method
l1 = [10,20,30,40,30,50]
num = l1.pop(3)
print(l1)
print(num)

[10, 20, 30, 30, 50]
40

In [ ]:
# my program
l1 = [10,20,10,30,20,45]
num = l1.pop(2)
num1 = l1.pop(3)
print(l1)

[10, 20, 30, 45]

In [ ]:
#find duplicate
l1 = [10,20,10,30,20,45]
l2= []
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

[10, 20, 30, 45]

In [ ]:
#find 2nd larget element
l1=[10,20,30,40,50]
element = max(l1)
l1.remove(element)
print(max(l1))

40

In [ ]:
#list
s= "NTT DATA"
l2 = list(s)
print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
l = [2,3,3,4,4,4,4,2,6,7,8,6]
l1 = []
l2 = []
for i in l:
  if i not in l1:
    l1.append(i)
    l2.append(l.count(i))

print(l1)
print(l2)

[2, 3, 4, 6, 7, 8]
[2, 2, 4, 2, 1, 1]

In [ ]:
l = [2,3,3,4,4,4,4,2,6,7,8,6]
l1 = []
l2 = []
for i in l:
  if i not in l1:
    l1.append(i)
    l2.append(1)
  else:
    index=l1.index(i)
    l2[index] = l2[index] + 1

print(l1)
print(l2)

[2, 3, 4, 6, 7, 8]
[2, 2, 4, 2, 1, 1]

In [ ]:
#tuples

t1 = (1,2,3,"NTT",[4,5,6],(8,9))

print(t1)

(1, 2, 3, 'NTT', [4, 5, 6], (8, 9))

In [ ]:
#tuple method
s= '"NTT DATA'

t2 =tuple(s)

print(t2)

('"', 'N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')

In [ ]:
t = (10)
print(t)
print(type(t))

10
<class 'int'>

In [ ]:
t = (10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [ ]:
t = ('R')
print(t)
print(type(t))

R
<class 'str'>

In [ ]:
t = ('R',)
print(t)
print(type(t))

('R',)
<class 'tuple'>

In [ ]:
#Dict
d = {"name": "Renu","age" : 40,"city": "Mumbai"}
print(d)
print(type(d))

{'name': 'Renu', 'age': 40, 'city': 'Mumbai'}
<class 'dict'>

In [ ]:
#Dict
d = {"name": "Renu","age" : 40,"city": "Mumbai"}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Renu', 40, 'Mumbai'])
dict_items([('name', 'Renu'), ('age', 40), ('city', 'Mumbai')])

In [ ]:
# Create Dictonary
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
print(D1)
print(type(D1))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>

In [ ]:
D1 = {'aa':100, 'bb':200,      'cc':300,      'dd':400,      10:500 }
print(D1)
print(D1['cc'])

{'aa': 100, 'bb': 200, 'cc': 300, 'dd': 400, 10: 500}
300
<class 'dict'>

In [ ]:
D1 = {2:[1,2,3], 3:(4,5,6),   4:'NTT' }
print(D1)
print(D1[3])

{2: [1, 2, 3], 3: (4, 5, 6), 4: 'NTT'}
(4, 5, 6)

In [ ]:
D1 = {(1,2) : 100,
      (4,5): 200,
      (5,6): 300}
print(D1)
print(D1[(4,5)])

{(1, 2): 100, (4, 5): 200, (5, 6): 300}
200

In [ ]:
# ITERATION Dictonary thorugh keys
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
for i in D1:
  print(i)

2
4
6
8
10

In [ ]:
# ITERATION Dictonary thorugh values
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
for i in D1.values():
  print(i)

100
200
300
400
500

In [ ]:
# ITERATION Dictonary thorugh values
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
for i in D1.items():
  print(i)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
for i in D1:
  print(D1[i])

100
200
300
400
500

In [ ]:
# Membership Operator
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
if 2 in D1:
  print("yes")

yes

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
print(D1.keys())

dict_keys([2, 4, 6, 8, 10])

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.keys()
print(keys)
keys = list(keys)
print(keys)

dict_keys([2, 4, 6, 8, 10])
[2, 4, 6, 8, 10]

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.values()
print(keys)

keys = list(keys)
print(keys)

dict_values([100, 200, 300, 400, 500])
[100, 200, 300, 400, 500]

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.items()
print(keys)

dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.get(2)
print(keys)

100

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.get(100)
print(keys)

None

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
keys = D1.get(100,12)
print(keys)

12

In [ ]:
D1 = {2:100, 4:200,      6:300,      8:400,      10:500 }
i = D1.pop(4)
print(i)
print(D1)

200
{2: 100, 6: 300, 8: 400, 10: 500}

In [ ]:
# UPDATE METHOD
D1 = {2:100, 4:200,      6:300,      8:400,      10:500}
D2 = {11:1000, 30:2000}
D1.update(D2)
print(D1)

D1 = {2:100, 4:200,      6:300,      8:400,      10:500}
D2 = {10:1000, 30:2000}
D1.update(D2)
print(D1)

D2 = {10:1000, 30:2000}
D1.update(D2)
print(D1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500, 11: 1000, 30: 2000}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 30: 2000}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 30: 2000}

In [ ]:
# UPDATE METHOD
D1 = {2:100, 4:200,      6:300,      8:400,      10:500}
D2 = {11:1000, 30:2000}
D1.update(D2)
print(D1)


D2 = {10:1000, 30:2000}
D1.update(D2)
print(D1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500, 11: 1000, 30: 2000}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 11: 1000, 30: 2000}

In [ ]:
# Shallow copy

x1 = {2:100, 4:200,      6:300,      8:400,      10:500}

x2= x1.copy()
print(x1)
print(x2)
print(id(x1))
print(id(x2))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
134960850718016
134960850727424

In [ ]:
x1 = {2:100, 4:200,      6:300,      8:400,      10:500}

x2= x1
print(x1)
print(x2)
print(id(x1))
print(id(x2))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
134960850724224
134960850724224

In [ ]:
#DEEP COPY
import copy
x1 = {2:100, 4:200,      6:300,      8:400,      10:500}
x2= copy.deepcopy(x1)
print(x1)
print(x2)
print(id(x1))
print(id(x2))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
134961077065280
134960853246528

In [ ]:
# fromkeys

keys= [1,2,3,4]
d1 = dict.fromkeys(keys, 2000)
print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000}

In [ ]:
#zip method

d1 = [1,2,3,4,5]
d2 =[10,20,30,40,50]

d3 = dict(zip(d1,d2))
print(d3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [ ]:
#Assignment

s = "I live in blr, blr is a garden city and beautiful city"
words = s.lower().replace(',', '').split()  # Convert to lowercase, remove commas, and split into words
word_count = {}  # Initialize an empty dictionary
print(words)
for word in words:
    if word in word_count:
        word_count[word] += 1  # Increment count if word already exists
    else:
        word_count[word] = 1  # Add word to dictionary with count 1

print(word_count)  # Print the dictionary

['i', 'live', 'in', 'blr', 'blr', 'is', 'a', 'garden', 'city', 'and', 'beautiful', 'city']
{'i': 1, 'live': 1, 'in': 1, 'blr': 2, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1, 'beautiful': 1}

In [6]:
#project

d = {}
d[100] = {"name":"Ram","Major":"cse"}
d[101]= {"name":"Rani" ,"Major":"cbc"}
print(d)
print(d[100]["name"])
print(d.get(101))
print(d.items())
print(d.keys())

{100: {'name': 'Ram', 'Major': 'cse'}, 101: {'name': 'Rani', 'Major': 'cbc'}}
Ram
{'name': 'Rani', 'Major': 'cbc'}
dict_items([(100, {'name': 'Ram', 'Major': 'cse'}), (101, {'name': 'Rani', 'Major': 'cbc'})])
dict_keys([100, 101])

In [15]:
#Mini Project - Student Database

def create_student_database():
  #create empty dictonary
    student_database = {}
    return student_database

def add_student(student_database):
    # Add new student to database
    usn = input("Enter USN number: ")
    name = input("Enter student name : ")
    major = input("Enter student department: ")
    student_database[usn] ={"name": name , "major": major}
    print("Student Added Successfully")

def find_student_info(student_database):
    # Retrieve student information
    student_id = input("Enter the student USN number: ")
    student_info = student_database.get(student_id)
    if student_info:
        print (student_database.get(student_id))
     # print(student_info)
    else:
      print("Enter correct usn no: ")

def display_database(student_database):
    # Display database
    if student_database:
      print("Student Database")
      print(student_database)
    else:
      print("Database is empty")

def remove_student(student_database):
    # Remove student from database
    student_id = input("Enter the student USN number: ")
    if student_id in student_database:
        del student_database[student_id]
        print("Student removed successfully")
    else:
        print("Student not found in the database")



#Main program

student_database = create_student_database()

while True:
      print("Options")
      print("1. Add Student")
      print("2. Find Student Info")
      print("3. Display Database")
      print("4. Remove Student")
      print("5. Exit")

      choice = int(input("Enter your choice (1/2/3/4): "))
      if choice ==1:
        add_student(student_database)
      elif choice == 2:
        find_student_info(student_database)
      elif choice == 3:
        display_database(student_database)
      elif choice == 4:
        remove_student(student_database)
      elif choice == 5:
        break
      else:
        print("Invalid choice. Please try again.")

Options
1. Add Student
2. Find Student Info
3. Display Database
4. Exit
Enter your choice (1/2/3/4): d
Invalid choice. Please try again.
Options
1. Add Student
2. Find Student Info
3. Display Database
4. Exit
Enter your choice (1/2/3/4): 3
Invalid choice. Please try again.
Options
1. Add Student
2. Find Student Info
3. Display Database
4. Exit
Enter your choice (1/2/3/4): 1
Invalid choice. Please try again.
Options
1. Add Student
2. Find Student Info
3. Display Database
4. Exit
Enter your choice (1/2/3/4): 4
Invalid choice. Please try again.
Options
1. Add Student
2. Find Student Info
3. Display Database
4. Exit

KeyboardInterrupt: Interrupted by user