<a href="https://colab.research.google.com/github/renu7gupta/renu_python/blob/main/day18_ml_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
# Day3
# Creating a simple list

l= [10,20.3,"INT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'INT', (3+4j)]
<class 'list'>

In [ ]:
print("Renu Gupta")

Renu Gupta

In [ ]:
prn("renu")

NameError: name 'prn' is not defined

In [ ]:
# Type fn returns datatype class
a = 3+4j;
print(type(a))

<class 'complex'>

In [ ]:
# isinstance
a = 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
class Human():

  def __init__(self):
    print("Human class constructor")
    self.name="Radha"

class Emp(Human):

  def __init__(self):
    super().__init__()
    print("Emp class constructor")
    self.name ="Ram"


class Manager(Emp):

  def __init__(self):
    super().__init__()
    print("Mnager class constructor")
    self.name= "John"


m1 = Manager()

print(m1.__dict__)

Human class constructor
Emp class constructor
Mnager class constructor
{'name': 'John'}