<a href="https://colab.research.google.com/github/renu7gupta/renu_python/blob/main/day1_ml_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
# Day3
# Creating a simple list

l= [10,20.3,"INT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'INT', (3+4j)]
<class 'list'>

In [ ]:
print("Renu Gupta")

Renu Gupta

In [ ]:
prn("renu")

NameError: name 'prn' is not defined

In [ ]:
#list
L1 = [10,20,3.14,"NNTT DATA", 2+3j,[100,200,300]]
print(L1)
print(type(L1))
print(L1[0], L1[-2])

[10, 20, 3.14, 'NNTT DATA', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [ ]:
# Type fn returns datatype class
a = 3+4j;
print(type(a))

<class 'complex'>

In [ ]:
# isinstance
a = 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
aaa: int = 10
print(aaa)


print(__annotations__['aaa'])
print(type(aaa))

10
<class 'int'>
<class 'int'>

In [ ]:
#slicing in list
L1 = [10,20,3.14,"NNTT DATA", 2+3j,[100,200,300]]
print(L1[0:5:3])
print(L1[::])
print(L1[::-1])

[10, 'NNTT DATA']
[10, 20, 3.14, 'NNTT DATA', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NNTT DATA', 3.14, 20, 10]

In [ ]:
#concatenation of list
l1 = [10,20,30]
l2 = [50,60,70]
l3 = l1+l2
print(id(l1))
print(id(l2))
print(id(l3))
print(l3)

134944583688512
134944583941504
134944583931392
[10, 20, 30, 50, 60, 70]

In [ ]:
#multiplication of list
l1 = [10,20,30]
l3 = l1*2
print(l3)

[10, 20, 30, 10, 20, 30]

In [ ]:
# iteration through list
l1 = [10,20,30,40,50]
for i in l1:
  print (i+4)

14
24
34
44
54

In [ ]:
#Mmbership operator in list
print(10 in [10,20,30,40])
print(50 in [10,20,30,40])
print(50 not in [10,20,30,40])

True
False
True

In [ ]:
#deletion of list
l1 = [10,20,30]
print (l1)
del(l1)
print(l1)

[10, 20, 30]

NameError: name 'l1' is not defined

In [ ]:
#Inbuilt functions
#max function
l1 = [220,4573,100,20,30]
print (max(l1))
l2 = ["aaa","bbbbbbb","zzz"]
print (max(l2))
l3 = [10,20,'NTT DAT']
print (max(l3))

4573
zzz

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#Inbuilt functions
#max function

l2 = ["aaaaaaaaaa","bbbbbbb","zzz"]
print(max(l2, key= len))

aaaaaaaaaa

In [ ]:
#Inbuilt functions
#max function

l2 = ["aaaaaaaaaa","bbbbbbb","zzz"]
print(max(l2, key= len))
l5 = []
print(max(l5,default=0))

aaaaaaaaaa
0

In [ ]:
#append of list
l1 = [10,20,30]
l2 = [2,3,4]
print (l1)
l1.append(50)
l1.append(60)
l1.append(70)
l1.append(l2)
print (l1)

[10, 20, 30]
[10, 20, 30, 50, 60, 70, [2, 3, 4]]

In [ ]:
l1=[10]
i=1
for i in range(6):
  l=int(input("enter"))
  l1.append(l)


print(l1)

enter1
enter2
enter3
enter4
enter2
enter1
[10, 1, 2, 3, 4, 2, 1]

In [ ]:
#append method
l1 = [10,20,30]
l2= [40,50,60]
l1.append(l2)
print(l1)

[10, 20, 30, [40, 50, 60]]

In [ ]:
#extend method
l1 = [10,20,30]
l2= [40,50,60]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 50, 60]

In [ ]:
#insert method
l1 = [10,20,30]
l2= [40,50,60]
l1.insert(1,50)
print(l1)

[10, 50, 20, 30]

In [ ]:
#remove method
l1 = [10,20,30,40,30,50]
l1.remove(30)
print(l1)

[10, 20, 40, 30, 50]

In [ ]:
#pop method
l1 = [10,20,30,40,30,50]
num = l1.pop()
print(l1)
print(num)

[10, 20, 30, 40, 30]
50

In [ ]:
#pop method
l1 = [10,20,30,40,30,50]
num = l1.pop(3)
print(l1)
print(num)

[10, 20, 30, 30, 50]
40

In [ ]:
# my program
l1 = [10,20,10,30,20,45]
num = l1.pop(2)
num1 = l1.pop(3)
print(l1)

[10, 20, 30, 45]

In [ ]:
#find duplicate
l1 = [10,20,10,30,20,45]
l2= []
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

[10, 20, 30, 45]

In [ ]:
#find 2nd larget element
l1=[10,20,30,40,50]
element = max(l1)
l1.remove(element)
print(max(l1))

40